
<!doctype html>
<title>{% block title %}{% endblock %} - RunMETRIC</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

  <form action="{{ url_for('auth.register') }}", method='post'>
      <button id="logout_button"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Register
      </button>
  </form>
</section>