{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Run{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="date">Date</label>
    <input name="date" id="date" value="{{ request.form['date'] }}" required>
    <label for="duration">Duration</label>
    <input name="duration" id="duration" value="{{ request.form['duration'] }}" required>
    <label for="distance">Distance</label>
    <input name="distance" id="distance" value="{{ request.form['distance'] }}" required>
    <label for="shoe_id">Shoe</label>
    <input name="shoe_id" id="shoe_id" value="{{ request.form['date'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}