{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Runs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('runs.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    {% for run in runs %}
    <div class="run">
        <header class="run_header">
            <h2 class="run">
                {{ run['run_id'] }}
            </h2>
            <h2>
                <div>
                    Date: {{ run['date'] }}
                </div>
            </h2>
            <h3>
                <div>
                        Distance: {{ run['distance'] }}
                </div>
            </h3>
            <a class="action" href="{{ url_for('runs.update', id=run['run_id']) }}">UPDATE</a>
            <a class="action" href="{{ url_for('runs.delete', id=run['run_id']) }}">DELETE</a>
        </header>
        <!-- {% if not loop.last %}
            <hr>
        {% endif %} -->
      </div>
    {% endfor %}
{% endblock %}